@import "common";

html {
  background: adjust-color($primary, $lightness: 34%, $saturation: -70%);

  font-size: 20px;
  font-family: "IBM Plex Sans Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  color: adjust-color($primary, $lightness: -10%, $saturation: -70%);
}

body {
  margin: 0;
}
